html,
body {
  font-family: 'Roboto';
  font-weight: 400; /*100, 400, 700*/
  margin: 0;
  color: #1f2937;
}

header {
   background-color: #1f2937;
   color: #f9faf8;
   padding: 0 10rem 5rem;
   display: flex;
   flex-direction: column;
   gap: 6rem;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav .logo {
  font-weight: 700;
  font-size: 1.3rem;
}

header nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  gap: 1rem;
}

header nav ul li a {
  text-decoration: none;
  color: #f9faf8;
  font-size: .9rem;
}

header .hero .h1 {
  font-size: 3rem;
  font-weight: 700;
}

header .hero {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

header .hero .placeholder {
  background-color: rgb(98, 99, 112);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

header .hero .placeholder,
header .hero .text {
  height: 20rem;
  max-width: 30rem;
}

header .hero .text button {
  border: none;
  background-color: #3882f6;
  font-family: 'Roboto';
  color: #f9faf8;
  padding: .5rem 2rem;
  font-size: 1.01rem;
  font-weight: bold;
  border-radius: .4rem;
}

main .info {
  margin-bottom: 8rem;
}

main .info .h2 {
  font-size: 2.2rem;
  font-weight: 700;
  text-align: center;
  margin: 1.5rem;
}

main .info .containers {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

main .info .containers .container {
  display: flex;
  flex-direction: column;
  gap: .5rem
}

main .info .containers .container .img {
  border: solid #3882f6;
  border-radius: .4rem;
  width: 10rem;
  height: 10rem;
}

main .info .containers .container p {
  width: 10rem;
  text-align: center;
  font-size: 1.1rem;
}

main .quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: #e5e7eb;
  padding: 5rem 35rem;
}

main .quote p.quotey {
  font-size: 2rem;
  font-weight: 200;
  font-style: italic;
  margin: 0;
}

main .quote p.thor {
  font-weight: 700;
  align-self: end;
  margin: 0;
}

main .cta {
  background-color: #3882f6;
  color: #e5e7eb;
  padding: 3rem 7rem;
  margin: 5rem 15rem;
  border-radius: .5rem;
  display: flex;
  justify-content: space-around;
}

main .cta p.h3 {
  font-weight: bold;
  font-size: 1.2rem;
  padding-bottom: 0.3rem;
}

main .cta p {
  margin: 0;
}

main .cta button {
  background-color: #3882f6;
  border: .2rem solid #e5e7eb;
  color: #e5e7eb;
  border-radius: .5rem;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 1.05rem;
  padding: .5rem 3rem;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f2937;
  color: #f9faf8;
  padding: 1rem;
}

a {
  color: #e5e7eb;
}